{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true
    },
    "plugins": ["react", "jsx-a11y", "import"],
    "rules": {
        "linebreak-style": 0,
        "react/jsx-filename-extension": [
            "error",
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "global-require": "off",
        "import/preferer-default-export": "off"
    }
}
